Write a code to reverse a string.

In [ ]:
string = "pwskills"
rev_string= string[::-1]
print(rev_string)

sllikswp

Write a code to count the number of vowels in a string.

In [ ]:
count =0
for i in string:
  if i in "aeiou":
    print(i)
    count +=1
print("no of vowel", count)

i
no of vowel 1

Write a code to check if a given string is a palindrome or not.

In [ ]:
w= input("enter a word:")
if w == w[::-1]:
  print("palindrome")
else:
  print("not palindrome")

enter a word:madam
palindrome

Write a code to check if two given strings are anagrams of each other.

In [ ]:
s= input("enter a word:").lower()
t= input("enter a word:").lower()
if sorted(s) == sorted(t):
  print("anagram")
else:
  print("not anagram")

enter a word:Listen
enter a word:Silent
anagram

Write a code to find all occurrences of a given substring within another string.

In [ ]:
s= input("enter the substring:").lower()
t= input("enter the string:").lower()
if s in t:
  print("substring")
else:
  print("not substring")

enter the substring:GOOD
enter the string:Goodness
substring

Write a code to perform string compression using the count of repeated characters.

In [ ]:
def compress(a):
    count = 1
    result = ""

    # Loop through the string up to the second last character
    for i in range(len(a) - 1):  # Loop until the second last character
        if a[i] == a[i + 1]:
            count += 1
        else:
            result += a[i] + str(count)
            count = 1  # Reset count for the new character

    # Add the last character and its count
    result += a[-1] + str(count)

    return result

# Test the function
print(compress("aabcccccaaa"))

a2b1c5a3

Write a code to determine if a string has all unique characters.

In [ ]:
def unique(a):
    seen = set()
    for i in a:
        if i in seen:
            return False
        seen.add(i)
    return True

print(unique("pwskills"))

False

Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def uporlow(a):
  return a.upper(), a.lower()

print(uporlow("pwskills"))

('PWSKILLS', 'pwskills')

Write a code to count the number of words in a string.

In [ ]:
s="pwskills"
print(len(s))

8

Write a code to concatenate two strings without using the + operator.

In [ ]:
a,b= "pw", "skills"
print(a,b)

pw skills

Write a code to remove all occurrences of a specific element from a list.

In [ ]:
l= [5,6,4,5,7,3,9,2]
while 5 in l:
  l.remove(5)
print(l)

[6, 4, 7, 3, 9, 2]

Implement a code to find the second largest number in a given list of integers.

In [ ]:
l= [5,6,4,5,7,3,9,2]
l.sort()
print(l[-2])

7

Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
l1=[1,1,5,6,3,3,4,2,1]
d={}

for i in l1:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{1: 3, 5: 1, 6: 1, 3: 2, 4: 1, 2: 1}

Write a code to reverse a list in-place without using any built-in reverse function.

In [ ]:
l= [5,6,4,5,7,3,9,2]

Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
l= [5,6,4,5,7,3,9,2]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[6, 4, 5, 7, 3, 9, 2]

Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
l1= [1,2,5,4]
if l1 == sorted(l1):
  print("sorted")
else:
  print("not sorted")

not sorted

Write a code to merge two sorted lists into a single sorted list.

In [ ]:
l1= [1,2,5,4]
l2= [3,6,7,8]
l3= l1+l2
l3.sort()
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8]

Implement a code to find the intersection of two given lists.

In [ ]:
l1= [1,2,3,4]
l2= [3,4,5,6]
l3= []
for i in l1:
  if i in l2:
    l3.append(i)
print(l3)

[3, 4]

Create a code to find the union of two lists without duplicates.

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]

l3 = set(l1) | set(l2)

print(l3)

{1, 2, 3, 4, 5, 6}

Write a code to shuffle a given list randomly without using any built-in shuffle function.

In [9]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[5, 4, 2, 1, 3]

Write a Python program to shuffle the elements of a given list randomly without using any built-in shuffle function.

In [10]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

my_list = [10, 20, 30, 40, 50]
shuffle_list(my_list)
print(my_list)

[40, 20, 50, 10, 30]

Write a program that takes two tuples as input and returns a new tuple containing elements common to both input tuples.

In [11]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
result = common_elements(tuple1, tuple2)
print(result)

(3, 4, 5)

Write a program that prompts the user to input two sets of integers, separated by commas. Then, display the intersection of these two sets.

In [12]:
def get_set_input(prompt):
    user_input = input(prompt)
    return set(map(int, user_input.split(',')))

set1 = get_set_input("Enter the first set of integers (separated by commas): ")
set2 = get_set_input("Enter the second set of integers (separated by commas): ")

intersection = set1 & set2
print("Intersection of the two sets:", intersection)

Enter the first set of integers (separated by commas): 7,8,9,5
Enter the second set of integers (separated by commas): 7,4,5,3
Intersection of the two sets: {5, 7}

Write a program to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [13]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

Write a program that prompts the user to input two sets of strings and prints the elements present in the first set but not in the second set.

In [14]:
def get_set_input(prompt):
    user_input = input(prompt)
    return set(user_input.split(','))

set1 = get_set_input("Enter the first set of strings (separated by commas): ")
set2 = get_set_input("Enter the second set of strings (separated by commas): ")

difference = set1 - set2
print("Elements present in the first set but not in the second set:", difference)

Enter the first set of strings (separated by commas): p,w,s,k,i,l,l,s
Enter the second set of strings (separated by commas): s,k,i,l,l,s
Elements present in the first set but not in the second set: {'w', 'p'}

Create a program that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [15]:
def slice_tuple(tpl, start, end):
    return tpl[start:end]

tpl = (10, 20, 30, 40, 50, 60, 70)
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

result = slice_tuple(tpl, start, end)
print("Sliced tuple:", result)

Enter the start index: 2
Enter the end index: 6
Sliced tuple: (30, 40, 50, 60)

Write a program that prompts the user to input two sets of characters and prints the union of these two sets.

In [16]:
def get_set_input(prompt):
    user_input = input(prompt)
    return set(user_input)

set1 = get_set_input("Enter the first set of characters: ")
set2 = get_set_input("Enter the second set of characters: ")

union = set1 | set2
print("Union of the two sets:", union)

Enter the first set of characters: p,w,s,k,i,l,l,s
Enter the second set of characters: p,w
Union of the two sets: {'k', 'p', 'w', 's', 'l', ',', 'i'}

Develop a program that takes a tuple of integers as input and returns the maximum and minimum values from the tuple using tuple unpacking.

In [17]:
def find_max_min(tpl):
    return max(tpl), min(tpl)

tpl = tuple(map(int, input("Enter a tuple of integers (separated by spaces): ").split()))
maximum, minimum = find_max_min(tpl)
print("Maximum value:", maximum)
print("Minimum value:", minimum)

Enter a tuple of integers (separated by spaces): 7 8 9 6 3 6
Maximum value: 9
Minimum value: 3

Create a program that defines two sets of integers and prints the union, intersection, and difference of these two sets.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

Write a program that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [19]:
def count_occurrences(tpl, element):
    return tpl.count(element)

tpl = tuple(map(int, input("Enter a tuple of integers (separated by spaces): ").split()))
element = int(input("Enter the element to count: "))

count = count_occurrences(tpl, element)
print(f"The element {element} appears {count} times in the tuple.")

Enter a tuple of integers (separated by spaces): 8 5 3 4 6
Enter the element to count: 2
The element 2 appears 0 times in the tuple.


Develop a program that prompts the user to input two sets of strings and prints the symmetric difference of these two sets.

In [20]:
def get_set_input(prompt):
    user_input = input(prompt)
    return set(user_input.split(','))

set1 = get_set_input("Enter the first set of strings (separated by commas): ")
set2 = get_set_input("Enter the second set of strings (separated by commas): ")

symmetric_difference = set1 ^ set2
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (separated by commas): s o u d e e p
Enter the second set of strings (separated by commas): t i k a
Symmetric difference of the two sets: {'t i k a', 's o u d e e p'}

Write a program that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [21]:
def word_frequency(words):
    freq_dict = {}
    for word in words:
        freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict

words = input("Enter a list of words (separated by spaces): ").split()
result = word_frequency(words)
print("Word frequencies:", result)

Enter a list of words (separated by spaces): p w s k i l l s
Word frequencies: {'p': 1, 'w': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

Write a program that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [24]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Create a copy of dict1
    for key, value in dict2.items():
        merged_dict[key] = merged_dict.get(key, 0) + value
    return merged_dict

dict1 = eval(input("Enter the first dictionary: "))
dict2 = eval(input("Enter the second dictionary: "))

result = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", result)

Enter the first dictionary: {"a": 1, "b" : 2, "c" : 3}
Enter the second dictionary: {"b" : 4, "c" : 5, "d" : 6}
Merged dictionary: {'a': 1, 'b': 6, 'c': 8, 'd': 6}

Write a program to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist, the function should return `None`.

In [25]:
def access_nested_dict(nested_dict, keys):
    for key in keys:
        nested_dict = nested_dict.get(key)
        if nested_dict is None:
            return None
    return nested_dict

nested_dict = {
    'a': {'b': {'c': 5, 'd': 6}},
    'x': {'y': {'z': 10}}
}

keys = input("Enter a list of keys (separated by commas): ").split(',')
keys = [key.strip() for key in keys]

result = access_nested_dict(nested_dict, keys)
print("The value is:", result)

Enter a list of keys (separated by commas): a, b, c
The value is: 5

Write a program that takes a dictionary as input and returns a sorted version of it based on the values. Allow sorting in either ascending or descending order.

In [26]:
def sort_dict_by_values(d, order='ascending'):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=(order == 'descending')))

# Input dictionary
d = eval(input("Enter a dictionary: "))
order = input("Enter the sorting order ('ascending' or 'descending'): ").strip().lower()

sorted_dict = sort_dict_by_values(d, order)
print("Sorted dictionary:", sorted_dict)

Enter a dictionary: {'a': 3, 'b': 1, 'c': 2}
Enter the sorting order ('ascending' or 'descending'): ascending
Sorted dictionary: {'b': 1, 'c': 2, 'a': 3}


Write a program that inverts a dictionary, swapping keys and values. Ensure the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [27]:
def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

# Input dictionary
d = eval(input("Enter a dictionary: "))

inverted_dict = invert_dict(d)
print("Inverted dictionary:", inverted_dict)

Enter a dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3}
Inverted dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}